# Segmenting and Clustering Neighborhoods in Toronto

### Before we get the data and start exploring it, let's download all the dependencies that we will need!!!

In [4]:
import numpy as np # library to handle data in a vectorized manner
import pandas as pd # library for data analsysis
import json # library to handle JSON files
import requests # library to handle requests
from bs4 import BeautifulSoup

print('Libraries Imported!')

Libraries Imported!

# Get Dataset by Scraping

### Get HTML

In [5]:
url = 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'
source = requests.get(url).text
soup = BeautifulSoup(source, 'html.parser')

wiki_table = soup.body.table.tbody

### Parse HTML

In [6]:
def get_cell(element):
    cells = element.find_all('td')
    row = []
    
    for cell in cells:
        if cell.a:            
            if (cell.a.text):
                row.append(cell.a.text)
                continue
        row.append(cell.string.strip())
        
    return row

def get_row(source):    
    data = []  
    
    for tr in source.find_all('tr'):
        row = get_cell(tr)
        if len(row) != 3:
            continue
        data.append(row)        
    
    return data

In [18]:
data = get_row(wiki_table)
columns = ['Postcode', 'Borough', 'Neighbourhood']
df = pd.DataFrame(data, columns=columns)
df.head(12)

   Postcode           Borough                                Neighbourhood
0       M1A      Not assigned                                 Not assigned
1       M2A      Not assigned                                 Not assigned
2       M3A        North York                                    Parkwoods
3       M4A        North York                             Victoria Village
4       M5A  Downtown Toronto                    Regent Park, Harbourfront
5       M6A        North York             Lawrence Manor, Lawrence Heights
6       M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government
7       M8A      Not assigned                                 Not assigned
8       M9A         Etobicoke      Islington Avenue, Humber Valley Village
9       M1B       Scarborough                               Malvern, Rouge
10      M2B      Not assigned                                 Not assigned
11      M3B        North York                                    Don Mills

# Clean Dataset

In [8]:
df = df[df.Borough != 'Not assigned']
df.head()

  Postcode           Borough                                Neighbourhood
2      M3A        North York                                    Parkwoods
3      M4A        North York                             Victoria Village
4      M5A  Downtown Toronto                    Regent Park, Harbourfront
5      M6A        North York             Lawrence Manor, Lawrence Heights
6      M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

In [9]:
df.reset_index(inplace=True)
df.drop('index',axis=1,inplace=True)

df.head()

  Postcode           Borough                                Neighbourhood
0      M3A        North York                                    Parkwoods
1      M4A        North York                             Victoria Village
2      M5A  Downtown Toronto                    Regent Park, Harbourfront
3      M6A        North York             Lawrence Manor, Lawrence Heights
4      M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

In [10]:
df = df.groupby(['Postcode','Borough'])['Neighbourhood'].apply(lambda x: ", ".join(x.astype(str))).reset_index()
df = df.sample(frac=1).reset_index(drop=True)
df.head(12)

,Postcode,Borough,Neighbourhood
0,M4N,Central Toronto,Lawrence Park
1,M5J,Downtown Toronto,"Harbourfront East, Union Station, Toronto Islands"
2,M8V,Etobicoke,"New Toronto, Mimico South, Humber Bay Shores"
3,M5T,Downtown Toronto,"Kensington Market, Chinatown, Grange Park"
4,M8W,Etobicoke,"Alderwood, Long Branch"
5,M6M,York,"Del Ray, Mount Dennis, Keelsdale and Silverthorn"
6,M7Y,East Toronto,"Business reply mail Processing Centre, South C..."
7,M4V,Central Toronto,"Summerhill West, Rathnelly, South Hill, Forest..."
8,M6L,North York,"North Park, Maple Leaf Park, Upwood Park"
9,M6C,York,Humewood-Cedarvale
10,M1T,Scarborough,"Clarks Corners, Tam O'Shanter, Sullivan"
11,M1V,Scarborough,"Milliken, Agincourt North, Steeles East, L'Amo..."

In [11]:
df.shape

(103, 3)

# Add Geospatial Data

In [19]:
url2="http://cocl.us/Geospatial_data"
geo_data=pd.read_csv(url2)
geo_data.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [24]:
data = df.set_index('Postcode').join(geo_data.set_index('Postal Code'))
data = data.reset_index()
data.head(12)

,Postcode,Borough,Neighbourhood,Latitude,Longitude
0,M3A,North York,Parkwoods,43.753259,-79.329656
1,M4A,North York,Victoria Village,43.725882,-79.315572
2,M5A,Downtown Toronto,"Regent Park, Harbourfront",43.654260,-79.360636
3,M6A,North York,"Lawrence Manor, Lawrence Heights",43.718518,-79.464763
4,M7A,Downtown Toronto,"Queen's Park, Ontario Provincial Government",43.662301,-79.389494
5,M9A,Etobicoke,"Islington Avenue, Humber Valley Village",43.667856,-79.532242
6,M1B,Scarborough,"Malvern, Rouge",43.806686,-79.194353
7,M3B,North York,Don Mills,43.745906,-79.352188
8,M4B,East York,"Parkview Hill, Woodbine Gardens",43.706397,-79.309937
9,M5B,Downtown Toronto,"Garden District, Ryerson",43.657162,-79.378937
10,M6B,North York,Glencairn,43.709577,-79.445073
11,M9B,Etobicoke,"West Deane Park, Princess Gardens, Martin Grov...",43.650943,-79.554724

In [25]:
df = df[df.Borough != 'Not assigned']
data.head(12)

,Postcode,Borough,Neighbourhood,Latitude,Longitude
0,M3A,North York,Parkwoods,43.753259,-79.329656
1,M4A,North York,Victoria Village,43.725882,-79.315572
2,M5A,Downtown Toronto,"Regent Park, Harbourfront",43.654260,-79.360636
3,M6A,North York,"Lawrence Manor, Lawrence Heights",43.718518,-79.464763
4,M7A,Downtown Toronto,"Queen's Park, Ontario Provincial Government",43.662301,-79.389494
5,M9A,Etobicoke,"Islington Avenue, Humber Valley Village",43.667856,-79.532242
6,M1B,Scarborough,"Malvern, Rouge",43.806686,-79.194353
7,M3B,North York,Don Mills,43.745906,-79.352188
8,M4B,East York,"Parkview Hill, Woodbine Gardens",43.706397,-79.309937
9,M5B,Downtown Toronto,"Garden District, Ryerson",43.657162,-79.378937
10,M6B,North York,Glencairn,43.709577,-79.445073
11,M9B,Etobicoke,"West Deane Park, Princess Gardens, Martin Grov...",43.650943,-79.554724